body{
    background-color: rgb(43, 255, 0);/*#eee;*/
}

.logo{
    background-image: url(../img/logo.png);
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    width: 80vh;
    height: 40vh;

    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logo_inline{
    background-image: url(../img/logo.png);
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100px;
    height: 50px;
    display: block;
}

.logo_text{
    font-family: "Kraft" !important;
    font-size: 22px;
    text-decoration: none;
    color: #fff;
    float: left;
    line-height: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.start_screen{
    background-image: url(../img/CustomBC_Logo.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    
}

.screen_container{
    width: 100%;
    background-color: rgb(255, 102, 0);
    position: relative;
    overflow: hidden;
}

.screen_overlay{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgba(255, 102, 0, 0.9);
    background-image: linear-gradient(180deg, rgba(238, 238, 238, 0), rgba(238, 238, 238, 1));
}

.screen_back{
    position: absolute;
    top: -20%;
    left: -20%;
    width: 140%;
    height: 140%;
    background-image: url(../img/start_screen.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    filter: blur(25px);
}

.header_box {
    background-color: rgba(0, 0, 0, 0.4);
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    text-align: right;
    position: fixed;
    width: 100%;
    z-index: 4;

    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    -moz-backdrop-filter: blur(20px);
}

.header_box_back{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    overflow: hidden;
    border: none;
    z-index: 3;
}

.header_button {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    line-height: 50px;
    display: inline-block;
    margin-right: 16px;
    margin-left: 16px;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
}

.header_button:hover {
    border-bottom-color: #fff;
}

.footer{
    color: #888;
    text-align: center;
    font-family: Arial;
    font-size: 14px;
    line-height: 50px;
}

.footer_big{
    background-color: #222;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
}

.footer_links{
    background-color: #444;
    justify-content: left;
    flex-direction: row-reverse;
}

.footer_link {
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    background-position: center center;
    background-size: 55%;
    border-radius: 100%;
    margin-left: 10px;
    background-repeat: no-repeat;
}

.footer_link:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.vk{
    background-image: url(../img/vk.svg);
}

.youtube{
    background-image: url(../img/youtube.svg);
}

.twitter{
    background-image: url(../img/twitter.svg);
}

.facebook{
    background-image: url(../img/facebook.svg);
}

.footer_text{
    color: #777;
    font-family: Arial;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
}

/**/

.link{
    color: #f39c11;
    font-weight: bold;
    text-decoration: none;
}

.link:hover{
    text-decoration-line: underline;
}

/**/

.post_image{
    height: 180px;
    margin: 6px;
    border-radius: 6px;
}

/**/

.change_log_line{
    padding-top: 1px;
    padding-bottom: 1px;
}

.change_log_category{
    display: inline-block;
    border-radius: 30px;
    line-height: inherit;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 2px;
    margin-right: 2px;
    color: #fff;
}

/**/

.login_form{
    width: 300px;

    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    animation-name: login_form;
    animation-duration: 0.8s;
}

@keyframes login_form{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

.login_form input{
    width: 100%;
    line-height: 40px;
    border-radius: 40px;
    background-color: #fff;
    border: 0;
    outline: none;
    color: #222;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px rgba(100, 100, 100, 0.4);

    padding-left: 40px;
    padding-right: 10px;

    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 13px 50%;
}

.login_form input::placeholder{
    color: #444;
}

.login_form .nickname{
    background-image: url(../img/nickname.svg);
}

.login_form .password{
    background-image: url(../img/password.svg);
}

.login_form .button{
    width: 100%;
    border-radius: 40px;
    line-height: 40px;
    box-shadow: 1px 1px 1px rgba(100, 100, 100, 0.4);
}

.login_form .logo_inline{
    width: 300px;
    height: 200px;
}

.switch_login_link{
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(100, 100, 100, 0.4);
    text-align: center;
    margin-top: 50px;
    cursor: pointer;
}

/**/

.yandexdisk_button{
    background-color: #836f00;
}

.vk_button:hover{
    background-color: #5785b9;
}

/**/

.download_form{
    text-align: center;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.download_form .panel{
    vertical-align: top;
    display: inline-block;
    padding: 20px;
    border-radius: 5px;
    transition-property: background-color, transform;
    transition-duration: 0.5s;
}

.download_form .panel:hover{
    background-color: rgba(34, 226, 17, 0.733);
    transform: Translate(0, -5px);
}

.download_form .title{
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}

.download_form .description{
    text-align: left;
    display: inline-block;
    font-size: 12px;
    color: #555;
}

.download_form .button{
    width: 200px;
    border-radius: 40px;
    line-height: 40px;
    box-shadow: 1px 1px 1px rgba(100, 100, 100, 0.4);
}

.download_form .platform{
    filter: drop-shadow(1px 1px 1px rgba(100, 100, 100, 0.4));
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    margin: auto;
}

.download_form .windows{
    background-image: url(../img/windows.svg);
}

.download_form .android{
    background-image: url(../img/android.svg);
}

.download_form .web{
    background-image: url(../img/chrome.svg);
}
